 /*
Theme Name: Uncode Child
Description: Child theme for Uncode theme
Author: Undsgn™
Author URI: http://www.undsgn.com
Template: uncode
Version: 1.0.0
Text Domain: uncode
*/



@font-face {
	font-family: $font-one;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;

}


@font-face {
	font-family: $font-one;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}


@font-face {
	font-family: $font-one;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}


@font-face {
	font-family: $font-one;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-semibold-webfont.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;

}


@font-face {
	font-family: $font-one;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/poppins/poppins-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: $font-three;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/domaine/DomaineDisplayWeb-Bold.eot') format('eot'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/domaine/DomaineDisplayWeb-Bold.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/domaine/DomaineDisplayWeb-Bold.woff') format('woff');
	font-weight: 600;
	font-style: bold;

}

@font-face {
	font-family: $font-four;
	src: url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/house/HouseSlant.woff2') format('woff2'),
		url('http://localhost:8888/ildsjel/wp-content/themes/uncode-child/fonts/house/HouseSlant.woff') format('woff');
	font-style: normal;

}

body{
	padding: 20px !important;
	background-color: $gray !important;
}

.plan {
	color: $orange !important;
	border-color: $orange !important;
	font-family: $font-one !important;
	font-size:15px !important;
	background: transparent !important;
	.plan-title {
		display: none !important;
	}
	.plan-price{
		background-color: white !important;
	}
	h3 {
		text-transform: capitalize !important;
		font-size: 20px !important;
		font-weight: 700 !important;
		letter-spacing: 0px !important;
		color: $orange !important ;
	}
	span.price {
		font-family: $font-three !important ;
		color: $orange !important;
		margin-bottom: 10px !important;
	}
}

.plan-button{
		border: $orange !important;
		padding: 0px !important;
	a.btn.btn-default {
	    width: 100%;
	    border: 0px !important;
	    border-radius: 0px !important;
	    background-color: #dd723b !important;
	    font-family: $font-two !important;
	    font-style: italic !important;
	    letter-spacing: 0px !important;
	    text-transform: capitalize !important;
	    font-size: 20px !important;
	    font-weight:700 !important;
	    border-top: 1px solid $orange !important;
	    margin-bottom: 0px !important;
	    transition: all $slow !important;
	    &:hover{
	    	background-color: $dark-teal !important;
	    	color: $gray !important;
	    	border-color: $dark-teal !important;
    	}
	}
}

.style-light .plan .item-list > li, .style-light .plan .plan-title{
	border-color: $orange !important;
}

ul.item-list strong {
    font-weight: 400 !important;
}

.intro{
	p{
		font-family: $font-one;
		color: $dark-teal !important;
		font-size: 25px !important;
		font-weight:500  !important;
		width: 70%;
		margin: 0 auto;
		margin-top: 20px;
	}
	h1{
		font-family: $font-three;
		font-size: 80px !important;
		color: $dark-teal !important;
	}
}

h3{
	color: $orange !important;
	font-size: 20px !important;
}

.teal{
	h1{
		font-family: $font-three;
		font-size: 60px !important;
		color: $dark-teal !important;
	}
	
	p,b,p b, strong{
		font-family: $font-one;
		color: $dark-teal !important;
		font-size: 15px !important;
		margin: 0 auto;
		margin-top: 20px;
	}
	p{
		font-weight:400  !important;
	}
}

.preview{
	h1:before{
		content: "";
		border-top: 1px solid #226d69;
		width: 20%;
		height: 1px;
		position: relative;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	h1:after{
		content: "";
		border-top: 1px solid #226d69;
		width: 20%;
		height: 1px;
		position: relative;
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
	}
	
	h4 {
		position: absolute;
		font-size: 270px !important;
		z-index:-10;
		top:-120px;
		font-family: $font-four;
		letter-spacing:10px;
		color: $light-teal;
		left: 50%;
		-ms-transform: translateX(-50%) rotate(-7deg); /* IE 9 */
		-webkit-transform: translateX(-50%) rotate(-7deg); /* Chrome, Safari, Opera */
		transform: translateX(-50%) rotate(-7deg);
	}

	.owl-nav.disabled {
		display: block !important;
	}
	
}

h3{
	font-family: $font-two !important;
	font-weight: 700 !important;
	font-style: italic !important;
}

.owl-carousel-wrapper.style-light{
	overflow: visible;
}


.owl-dots-inside .owl-dots {
	margin-bottom: -41px !important;
	.owl-dot span{
		box-shadow: none;
		border: 1px solid $dark-teal;
		width: 15px !important;
		height: 15px !important;
		opacity: 1 !important;
	}
}

.owl-dots-inside .owl-dots .owl-dot.active span{
	background-color:$dark-teal !important;
}

.style-light .btn-default, .style-dark .style-light.style-override .btn-default, .style-dark .style-light .btn-default {
	color: $gray !important;
	background-color: $dark-teal !important;
	border: 1px solid $gray !important;
}

.owl-prev .owl-nav-container{
	border-radius: 0px !important;
}

.my_post_date {
	font-family: $font-two !important;
	font-size: 20px !important;
	font-weight: 700;
	font-style: italic;
}

.news-timeline .row {
	padding-bottom: 0px !important;
}

.timeline_items_wrapper {
	margin-bottom: 0px !important;
}

.timeline_items {
	padding-bottom: 0px !important;
}

.timeline h4.t_line_month, #content .timeline h4.t_line_month{
	font-family: $font-two !important;
	font-size: 20px !important;
	font-weight: 700;
	font-style: italic;
	color: $gray !important;
}

.my_timeline_content span {
	font-family: $font-one !important;
	font-size: 15px !important;
}

.my_timeline_content h2, .timeline_open_content h2{
	font-family: $font-three !important;
	font-size: 30px !important;
	margin-bottom: 15px !important;
	margin-top: 10px !important;
}

.dark-teal .timeline_open_content, .timeline_open_content{
	padding: 40px !important;
	p{
		color: $dark-teal !important;
		margin-top: 0px !important;
	}
}

input {
	width: 100%;
	border-radius: 0px;
	border-color: #dd723b !important;
	background-color: $gray !important;
	color: $orange !important;
	font-family: $font-one;
	font-size:15px !important;
}

#mc_embed_signup div.mce_inline_error {
	margin: 0 0 1em 0;
	padding: 5px 10px;
	background-color: $orange !important;
	font-weight: 500 !important;
	font-family: $font-one;
	z-index: 1;
	color: $gray !important;
}

.item_open_content {
	background: $gray !important;
}

.t_close:hover:after {
	color: $dark-teal !important
}

span.t_node_desc span {
	color: $dark-teal !important;
	font-family: $font-one !important;
}

.dark-teal .t_line_m .my_style_style_1 .t_line_node {
	color: $gray !important;
	font-size: 12px !important;
}

#tl1 .t_line_node, #content #tl1 .t_line_node {
	color: #EBEBEB !important;
}

.timeline.flatNav .t_left, .timeline.flatNav .t_left:hover:active, #content .timeline.flatNav .t_left, #content .timeline.flatNav .t_left:hover:active {
	left: 0;
	background: rgba(34,109,105, 0.5) url('http://localhost:8888/ildsjel/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-left.png') no-repeat center center !important;
}

.timeline.flatNav .t_right, .timeline.flatNav .t_right:hover:active, #content .timeline.flatNav .t_right, #content .timeline.flatNav .t_right:hover:active{
	right: 0;
	background: rgba(34,109,105, 0.5) url('http://localhost:8888/ildsjel/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-right.png') no-repeat center center !important;
}

.timeline.flatButton .item_open .t_close:after, .timeline.flatWideButton .item_open .t_close:after, #content .timeline.flatButton .item_open .t_close:after, #content .timeline.flatWideButton .item_open .t_close:after{
	color: $dark-teal
}

.timeline .item_open .t_close, #content .timeline .item_open .t_close{
	background: transparent !important;
}

.timeline .image_roll_zoom {
	background-size: 40px;
}

.timeline.flatLine .t_node_desc span, #content .timeline.flatLine .t_node_desc span{
	border-radius: 0px !important;
}

.pp_bottom, .pp_top, .pp_social {
	display: none !important;
}
a.pp_close {
	margin-right: 10px !important;
	padding-bottom: 10px !important;
}

div.pp_default .pp_content_container .pp_left, div.pp_default .pp_content_container .pp_right{
	background: none !important;
}

.mCSB_container {
	font-family: $font-one !important;
	font-size: 15px !important;
}

.gray {
	background-color: $gray;

	h1{
		font-family: $font-three;
		font-size: 60px !important;
		color: $orange !important;
	}
	
	p,b,p b{
		font-family: $font-one;
		color: $orange !important;
		font-size: 15px !important;
		margin: 0 auto;
		margin-top: 20px;
	}
	p{
		font-weight:400  !important;
	}
}

.dark-teal {
	background-color: $dark-teal;

	h1{
		font-family: $font-three;
		font-size: 60px !important;
		color: $gray !important;
		margin-bottom: 30px;
	}

	h3{
		color: $teal !important;
	}

	h5{
		color: $gray !important;
	}
	
	h5:before, h5:after{
		background: $gray !important;
	}

	p,b,p b{
		font-family: $font-one;
		color: $gray !important;
		font-size: 15px !important;
		margin: 0 auto;
		margin-top: 20px;
	}
	p{
		font-weight:400  !important;
	}
	a{
		color: $gray !important;
		&:hover{
			color: $teal !important;
		}
	}
}


h5, .read_more {
	font-family: $font-one;
	text-transform: uppercase;
	font-size: 12px !important;
	font-weight: 700 !important;
	letter-spacing: 2.5px !important;
	color: $dark-teal !important;
}

.social-media-cont {
	padding-top: 30px;
	padding-bottom: 30px;
}

.dark-teal #tl1 .item .read_more {
	font-size: 12px !important;
}

.credits{
	margin-top:60px !important;
	a{
		color: $teal !important;
		border-bottom: 1px dotted $teal !important;
		transition: all $slow;
		&:hover{
			color: $gray !important;
			border-bottom: 1px dotted transparent !important;
		}
	}
	p{
		color: $teal !important;    
	}
}

.footer-last {
	display: none !important;
}

h5:before{
	content:"";
	width:10%;
	height: 1px;
	position:relative;
	display: inline-block;
	background: $dark-teal;
	margin-bottom: 4px;
	margin-right:20px;
}

h5:after{
	content:"";
	width:10%;
	height: 1px;
	position:relative;
	display: inline-block;
	background:$dark-teal;
	margin-bottom: 4px;
	margin-left:20px;
}

.intro .row.limit-width.row-parent{
	max-width: 100% !important;
	&:before{
		background-image: url('http://localhost:8888/ildsjel/wp-content/uploads/2016/09/Ildsjel_texture-3.png');
		content: "";
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-position: 100%;
	}
}


.style-color-wvjs-bg {
	background-color: $dark-teal !important;
}

.style-color-iopl-bg{
	background-color: $teal !important;
}

.pad-top{
	padding-top: 100px;
}

.pad-btm{
	padding-bottom: 100px;
}

.pad-top-btm{
	padding-top: 100px;
	padding-bottom: 100px;
}

.intro .play-video, .play-video {
	border-radius: 50% !important;
	text-align: center !important;
	display: table !important;
	margin: 0 auto;
	background-color: transparent !important;
	border: 0px !important;
	transition: none;
	width:93px;
	height: 93px;
	margin-bottom: 80px;
	&:hover{
		border: 0px !important;
	}
	&:after{
		content: "►";
		font-size: 35px;
		color: $orange;
		margin-right:-20px;
		border:1px solid $orange;
		border-radius: 50% !important;
		padding: 17px 25px 17px 32px;
		background-color: $gray;
		z-index: 100000;
		position: relative;
		margin-left: -5px; 
	}
	&:before{
		content:"";
		width: 93px;
		height: 93px;
		display: block;
		background: repeating-linear-gradient(
		55deg,
		$orange,
		$orange 1px,
		transparent 1px,
		transparent 3px
		);
		border-radius: 50%;
		border: 1px solid transparent;
		position: absolute;
		top:0px;
		z-index: 10;
		
	}

}


@-webkit-keyframes wobble {
  16.65% {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
  }

  33.3% {
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
  }

  49.95% {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
  }

  66.6% {
	-webkit-transform: translateX(-2px);
	transform: translateX(-2px);
  }

  83.25% {
	-webkit-transform: translateX(1px);
	transform: translateX(1px);
  }

  100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

@keyframes wobble {
  16.65% {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
  }

  33.3% {
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
  }

  49.95% {
	-webkit-transform: translateX(4px);
	transform: translateX(4px);
  }

  66.6% {
	-webkit-transform: translateX(-2px);
	transform: translateX(-2px);
  }

  83.25% {
	-webkit-transform: translateX(1px);
	transform: translateX(1px);
  }

  100% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

.wobble {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.wobble:hover, .wobble:focus, .wobble:active {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input#mc-embedded-subscribe{
	border: 0px solid $orange !important;
	border-radius: 0px !important;
	background: $gray !important;
	color: $orange !important;
	font-family: $font-two !important;
	font-weight: 600 !important;
	font-style: italic !important;
	text-transform: capitalize !important;
	letter-spacing: 0px !important;
	font-size: 20px !important;
	padding: 5px 100px !important;
	margin: 0 auto !important;
	border: 1px solid $orange !important;
	color: transparent;
}

.clear{
	text-align: center !important;
}

.clear span{
	color: transparent;
}

.clear span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 44px;
	background: repeating-linear-gradient(
		55deg,
		$orange,
		$orange 1px,
		transparent 1px,
		transparent 3px
	);
	left: 2px;
	z-index: -10;
	top: 7px;
}

span.btn-container {
	text-align: center;
}

::-moz-selection { 
	color: $gray;
	background: $orange;
}

::selection {
	color: $gray;
	background: $orange;
}


a.shadow-btn-orange.wobble{
	border: 0px solid $orange !important;
	border-radius: 0px !important;
	background: repeating-linear-gradient(
		55deg,
		$orange,
		$orange 1px,
		transparent 1px,
		transparent 3px
	);
	background-color: transparent !important;
	color: $orange !important;
	font-family: $font-two !important;
	font-weight: 600 !important;
	font-style: italic !important;
	text-transform: capitalize !important;
	letter-spacing: 0px !important;
	font-size: 20px !important;
	padding: 5px 100px !important;
	margin: 0 auto !important;

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $gray;
		border: 1px solid $orange;
		left: -4px;
		z-index: -10;
		top: -4px;
	}
}

a.shadow-btn-dark-teal.wobble{
	border: 0px solid $dark-teal !important;
	border-radius: 0px !important;
	background: repeating-linear-gradient(
		55deg,
		$dark-teal,
		$dark-teal 1px,
		transparent 1px,
		transparent 3px
	);
	background-color: transparent !important;
	color: $dark-teal !important;
	font-family: $font-two !important;
	font-weight: 600 !important;
	font-style: italic !important;
	text-transform: capitalize !important;
	letter-spacing: 0px !important;
	font-size: 20px !important;
	padding: 5px 100px !important;
	margin: 0 auto !important;

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $gray;
		border: 1px solid $dark-teal;
		left: -4px;
		z-index: -10;
		top: -4px;
	}
}
	


